The following is a list of 10 students ages:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
• Sort the list and find the min and max age
• Add the min age and the max age again to the list
• Find the median age (one middle item or two middle items divided by two)
• Find the average age (sum of all items divided by their number)
• Find the range of the ages (max minus min)

In [ ]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]


ages.sort()
min_age = ages[0]
max_age = ages[-1]
print("Sorted ages:", ages)
print("Minmum age:", min_age)
print("Maximum age:", max_age)

ages.extend([min_age, max_age])
print("Ages after adding minimum and maximum again:", ages)


ages.sort()
length = len(ages)
if length % 2 == 0:
    median_age = (ages[length // 2 - 1] + ages[length // 2]) / 2
else:
    median_age = ages[length // 2]
print("Median age:", median_age)


average_age = sum(ages) / len(ages)
print("Average age:", average_age)

range_of_ages = max_age - min_age
print("Range of ages:", range_of_ages)

Sorted ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minmum age: 19
Maximum age: 26
Ages after adding minimum and maximum again: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Median age: 24.0
Average age: 22.75
Range of ages: 7

Create an empty dictionary called dog
• Add name, color, breed, legs, age to the dog dictionary
• Create a student dictionary and add first_name, last_name, gender, age, marital status,
skills, country, city and address as keys for the dictionary
• Get the length of the student dictionary
• Get the value of skills and check the data type, it should be a list
• Modify the skills values by adding one or two skills
• Get the dictionary keys as a list
• Get the dictionary values as a list

In [ ]:

dog = {}

dog['name'] = 'Buddy'
dog['color'] = 'Brown'
dog['breed'] = 'Labrador'
dog['legs'] = 4
dog['age'] = 5
print("Dog dictionary:", dog)

student = {
    'first_name': 'John',
    'last_name': 'Doe',
    'gender': 'Male',
    'age': 22,
    'marital_status': 'Single',
    'skills': ['Python', 'Java'],
    'country': 'USA',
    'city': 'New York',
    'address': '123 Main St'
}
print("Student dictionary:", student)


student_length = len(student)
print("Length of student dictionary:", student_length)


skills = student['skills']
print("Skills:", skills)
print("Data type of skills:", type(skills))


student['skills'].extend(['C++', 'SQL'])
print("Updated skills:", student['skills'])


student_keys = list(student.keys())
print("Student dictionary keys:", student_keys)


student_values = list(student.values())
print("Student dictionary values:", student_values)

Dog dictionary: {'name': 'Buddy', 'color': 'Brown', 'breed': 'Labrador', 'legs': 4, 'age': 5}
Student dictionary: {'first_name': 'John', 'last_name': 'Doe', 'gender': 'Male', 'age': 22, 'marital_status': 'Single', 'skills': ['Python', 'Java'], 'country': 'USA', 'city': 'New York', 'address': '123 Main St'}
Length of student dictionary: 9
Skills: ['Python', 'Java']
Data type of skills: <class 'list'>
Updated skills: ['Python', 'Java', 'C++', 'SQL']
Student dictionary keys: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
Student dictionary values: ['John', 'Doe', 'Male', 22, 'Single', ['Python', 'Java', 'C++', 'SQL'], 'USA', 'New York', '123 Main St']

Create a tuple containing names of your sisters and your brothers (imaginary siblings are
fine)
• Join brothers and sisters tuples and assign it to siblings
• How many siblings do you have?
• Modify the siblings tuple and add the name of your father and mother and assign it to
family_members

In [ ]:

sisters = ("Anna", "Bella")
brothers = ("John", "Mike")


siblings = sisters + brothers
print("Siblings:", siblings)


num_siblings = len(siblings)
print("Number of siblings:", num_siblings)


father = "James"
mother = "Mary"
family_members = siblings + (father, mother)
print("Family members:", family_members)

Siblings: ('Anna', 'Bella', 'John', 'Mike')
Number of siblings: 4
Family members: ('Anna', 'Bella', 'John', 'Mike', 'James', 'Mary')

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
• Find the length of the set it_companies
• Add 'Twitter' to it_companies
• Insert multiple IT companies at once to the set it_companies
• Remove one of the companies from the set it_companies
• What is the difference between remove and discard
• Join A and B
• Find A intersection B
• Is A subset of B
• Are A and B disjoint sets
• Join A with B and B with A
• What is the symmetric difference between A and B
• Delete the sets completely
• Convert the ages to a set and compare the length of the list and the set.

In [ ]:

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]


it_companies_length = len(it_companies)
print("Length of it_companies:", it_companies_length)


it_companies.add('Twitter')
print("it_companies after adding 'Twitter':", it_companies)


it_companies.update({'Tesla', 'Netflix', 'Adobe'})
print("it_companies after adding multiple companies:", it_companies)


it_companies.remove('Oracle')
print("it_companies after removing 'Oracle':", it_companies)


A_union_B = A.union(B)
print("A union B:", A_union_B)

A_intersection_B = A.intersection(B)
print("A intersection B:", A_intersection_B)


is_A_subset_B = A.issubset(B)
print("Is A subset of B:", is_A_subset_B)


are_A_B_disjoint = A.isdisjoint(B)
print("Are A and B disjoint:", are_A_B_disjoint)


A_join_B = A.union(B)
B_join_A = B.union(A)
print("A joined with B:", A_join_B)
print("B joined with A:", B_join_A)


A_symmetric_difference_B = A.symmetric_difference(B)
print("Symmetric difference between A and B:", A_symmetric_difference_B)


del A
del B
print("A and B sets deleted.")


age_set = set(age)
print("Length of age list:", len(age))
print("Length of age set:", len(age_set))

Length of it_companies: 7
it_companies after adding 'Twitter': {'Amazon', 'Microsoft', 'Facebook', 'Google', 'Apple', 'IBM', 'Twitter', 'Oracle'}
it_companies after adding multiple companies: {'Amazon', 'Facebook', 'Google', 'Adobe', 'Oracle', 'Microsoft', 'Tesla', 'Netflix', 'Apple', 'IBM', 'Twitter'}
it_companies after removing 'Oracle': {'Amazon', 'Facebook', 'Google', 'Adobe', 'Microsoft', 'Tesla', 'Netflix', 'Apple', 'IBM', 'Twitter'}
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B: {19, 20, 22, 24, 25, 26}
Is A subset of B: True
Are A and B disjoint: False
A joined with B: {19, 20, 22, 24, 25, 26, 27, 28}
B joined with A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B: {27, 28}
A and B sets deleted.
Length of age list: 8
Length of age set: 5

The radius of a circle is 30 meters.
• Calculate the area of a circle and assign the value to a variable name of _area_of_circle_
• Calculate the circumference of a circle and assign the value to a variable name of
_circum_of_circle_
• Take radius as user input and calculate the area

In [ ]:
import math

radius = 30


_area_of_circle_ = math.pi * radius ** 2
print("Area of the circle:", _area_of_circle_)


_circum_of_circle_ = 2 * math.pi * radius
print("Circumference of the circle:", _circum_of_circle_)


user_radius = float(input("Enter the radius of the circle: "))
user_area_of_circle = math.pi * user_radius ** 2
print("Area of the circle with radius", user_radius, ":", user_area_of_circle)

Area of the circle: 2827.4333882308138
Circumference of the circle: 188.49555921538757
Enter the radius of the circle: 5
Area of the circle with radius 5.0 : 78.53981633974483

“I am a teacher and I love to inspire and teach people”
• How many unique words have been used in the sentence? Use the split methods and set
to get the unique words.

In [ ]:

sentence = "I am a teacher and I love to inspire and teach people"


words = sentence.split()


unique_words = set(words)


num_unique_words = len(unique_words)

print("Number of unique words:", num_unique_words)

Number of unique words: 10

Use a tab escape sequence to get the following lines.
Name Age Country City
Asabeneh 250 Finland Helsinki

In [ ]:
print("Name\tAge\tCountry\tCity\nAsabeneh\t250\tFinland\tHelsinki")

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

Use the string formatting method to display the following:
radius = 10
area = 3.14 * radius ** 2
“The area of a circle with radius 10 is 314 meters square.”

In [ ]:
radius = 10
area = 3.14 * radius ** 2

print("The area of a circle with radius {} is {} meters square.".format(radius, area))

The area of a circle with radius 10 is 314.0 meters square.

Write a program, which reads weights (lbs.) of N students into a list and convert these weights to
kilograms in a separate list using Loop. N: No of students (Read input from user)
Ex: L1: [150, 155, 145, 148]
Output: [68.03, 70.3, 65.77, 67.13]

In [ ]:

N = int(input("Enter the number of students: "))


weights_lbs = []


for i in range(N):
    weight_lbs = float(input(f"Enter the weight of student {i+1} in pounds: "))
    weights_lbs.append(weight_lbs)

weights_kg = []
for weight_lbs in weights_lbs:
    weight_kg = weight_lbs * 0.45359237
    weights_kg.append(round(weight_kg, 2))

6
print("Weights in kilograms:", weights_kg)

Enter the number of students: 6
Enter the weight of student 1 in pounds: 10
Enter the weight of student 2 in pounds: 50
Enter the weight of student 3 in pounds: 60
Enter the weight of student 4 in pounds: 25
Enter the weight of student 5 in pounds: 75
Enter the weight of student 6 in pounds: 34
Weights in kilograms: [4.54, 22.68, 27.22, 11.34, 34.02, 15.42]